<div class="row" style="xpadding-left: 20px; xpadding-right: 20px;">
    <div class="col-sm-9" style="xborder: solid 1px; xpadding: 0;">

    <div style="xmargin-top: 5px; background-color: white;">
        <h1 style="font-size: 14px; display: inline; color: #3783a7; xfont-weight: 550; letter-spacing: 1px;"><a href="#" target="_blank">{{ title }}</a></h1> 
        {#
        <small style="margin-left: 5px;"><i style="font-size: 10px;" class="fa fa-external-link"></i></small>
        #}
        <br>
        
        <small style="font-size: 13px; color: gray;">Loja de trocas (itinerante) de bens, tempo e serviços mediante moeda local (TROKs); Grupo de Costura e reutilização de artigos</small>

        <p style="margin-bottom: 5px; font-size: 12px;  color: green;"><small><i onclick="function(){alert('mostrar popup com definicoes')}" style="margin-right:1px" class="fa fa-info-circle"></i> {{ type }}</small></p>
    {#
        <p><b>Dominios de interesse: </b> {{ domains }}</p>
    #}

    </div>


    </div>

    <div class="col-sm-3 logo-container" style="xpadding-left: 0; xpadding-right: 30px;  xborder: solid 1px; xpadding-top: 10px; xpadding-bottom: 10px;  xpadding: 0;">

    <img class="img-responsive img-rounded " style="xborder-color: #f6f6f6;" src="/templates/map/logos/{{ logoImg }}" alt="">

    </div>
</div>

<hr  style="margin: 0; padding-bottom: 5px;  padding-top: 5px; margin-right: 125px;">