{% extends "layouts/general-page.html"          %}

{% block title %}{{ ctx.texts[15][lang] }} - {{ ctx.texts[21][lang] }}{% endblock %} 

{% block mainColumnContent %}

<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="/{{ lang }}">Home</a>
            </li>
            <li>{{ ctx.texts[17][lang] }}
            </li>
            <li class="active">{{ ctx.texts[21][lang] }}</li>
        </ol>
    </div>
</div>

<div class="row">

    <div class="col-sm-10 col-sm-offset-1">
        <h3>Coordenação</h3>
    </div>

</div>


<div class="row">

    <div class="col-sm-2 col-sm-offset-1" style="padding-top: 5px;">
        <img src="/uploads/public/images/placeholders/200x200.gif" width="100px" alt="..." class="img-thumbnail">
    </div>

    <div class="col-sm-8">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro debitis non, a laudantium labore qui in soluta quos maxime voluptatibus voluptate quas sit natus explicabo facilis rerum enim doloribus adipisci!</p>
    </div>

</div>

<div class="row" style="margin-top: 30px;">

    <div class="col-sm-2 col-sm-offset-1" style="padding-top: 5px;">
        <img src="/uploads/public/images/placeholders/200x200.gif" width="100px" alt="..." class="img-thumbnail">
    </div>

    <div class="col-sm-8">
        <h4>Tempora voluptas</h4>
        <p>Consectetur adipisicing elit. Tenetur eveniet officiis rerum consectetur laboriosam ea voluptatum aut, eligendi minus, in repellendus, possimus impedit architecto? Reprehenderit impedit magni commodi laudantium consectetur.</p>
    </div>

</div>

<hr>

<div class="row">

    <div class="col-sm-10 col-sm-offset-1">
        <h3>Equipa sectorial: Biodiversidade</h3>
    </div>

</div>


<div class="row">

    <div class="col-sm-2 col-sm-offset-1" style="padding-top: 5px;">
        <img src="/uploads/public/images/placeholders/200x200.gif" width="100px" alt="..." class="img-thumbnail">
    </div>

    <div class="col-sm-8">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro debitis non, a laudantium labore qui in soluta quos maxime voluptatibus voluptate quas sit natus explicabo facilis rerum enim doloribus adipisci!</p>
    </div>

</div>

<div class="row" style="margin-top: 30px;">

    <div class="col-sm-2 col-sm-offset-1" style="padding-top: 5px;">
        <img src="/uploads/public/images/placeholders/200x200.gif" width="100px" alt="..." class="img-thumbnail">
    </div>

    <div class="col-sm-8">
        <h4>Tempora voluptas</h4>
        <p>Consectetur adipisicing elit. Tenetur eveniet officiis rerum consectetur laboriosam ea voluptatum aut, eligendi minus, in repellendus, possimus impedit architecto? Reprehenderit impedit magni commodi laudantium consectetur.</p>
    </div>

</div>


<hr>

<div class="row">

    <div class="col-sm-10 col-sm-offset-1">
        <h3>Equipa sectorial: Energia</h3>
    </div>

</div>

<div class="row">

    <div class="col-sm-2 col-sm-offset-1" style="padding-top: 5px;">
        <img src="/uploads/public/images/placeholders/200x200.gif" width="100px" alt="..." class="img-thumbnail">
    </div>

    <div class="col-sm-8">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro debitis non, a laudantium labore qui in soluta quos maxime voluptatibus voluptate quas sit natus explicabo facilis rerum enim doloribus adipisci!</p>
    </div>

</div>

<div class="row" style="margin-top: 30px;">

    <div class="col-sm-2 col-sm-offset-1" style="padding-top: 5px;">
        <img src="/uploads/public/images/placeholders/200x200.gif" width="100px" alt="..." class="img-thumbnail">
    </div>

    <div class="col-sm-8">
        <h4>Tempora voluptas</h4>
        <p>Consectetur adipisicing elit. Tenetur eveniet officiis rerum consectetur laboriosam ea voluptatum aut, eligendi minus, in repellendus, possimus impedit architecto? Reprehenderit impedit magni commodi laudantium consectetur.</p>
    </div>

</div>

{% endblock %}


