{% extends "layouts/general-page.html"          %}

{% block title %}{{ ctx.texts[15][lang] }} - {{ ctx.texts[83][lang] }}{% endblock %} 




{% block mainColumnContent %}

<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="/{{ lang }}">Home</a>
            </li>
            <li>{{ ctx.texts[17][lang] }}
            </li>
            <li class="active">{{ ctx.texts[83][lang] }}</li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-sm-12 text-center">
		<h1>{{ ctx.texts[83][lang] }}</h1>
    </div>
</div>



{% endblock %} 

