{% extends "layouts/default.html" %} 

{% block title %}{{ ctx.texts[15][lang] }} - login{% endblock %} 


{% block content %}

<div class="row" style="margin-top: 50px; margin-bottom: 50px;">

{% if ctx.reason != undefined %}
    <div class="col-sm-12 text-center">
        <h1>CLIMATE AND CLIMATE SCENARIOS OBSERVATORY</h1>

        {% if ctx.reason == "invalid" %}

        <h2 style="margin-top: 50px;">The recover token is invalid</h2>
        <p>Plase make sure the recover address sent by email is correct.</p>

        {% elif ctx.reason == "expired" %}

        <h2 style="margin-top: 50px;">The recover token has expired</h2>
        <p>The token is valid only for 24 hours. Please request a new token in the <a href="/{{ lang }}/login">login page</a>.</p>

        {% endif %}

        <h3>
            <a href="/{{ lang }}" style="margin-top: 150px;">Return to the home page</a>
        </h3>
      
    </div>
{% else %}
    <div class="col-sm-4 col-sm-offset-4">

        <div class="text-center">
            <h2 style="margin-top: 50px;">Reset your password</h2>
            <p>Insert your new password below (twice) and click the button.</p>
        </div>


        <form style="margin-top: 30px;">
            <div class="form-group">
                <label for="new-pw">New password</label>
                <input type="password" class="form-control" id="new-pw" name="new-pw">
            </div>
            <div class="form-group">
                <label for="new-pw-2">Please type again the new password</label>
                <input type="password" class="form-control" id="new-pw-2" name="new-pw-2">
            </div>
        </form>
        <button id="btn-reset-pw" class="btn btn-primary btn-block">Reset password
        </button>
        <div id="message-status" class="text-center" style="margin-top: 35px;"></div>
        <div id="message-links" class="text-center" style="margin-top: 10px;"></div>
    </div>
{% endif %}
</div>


{% endblock %} 

{% block scripts %}
<script src="/common/js/jquery-1.11.2.js"></script>
<!-- <script src="/common/js/bootstrap-3.3.2.js"></script> -->
<script src="/common/js/q-1.1.2.js"></script>
<script type="text/javascript">

var Clima = {
    ajaxOptions: {
        url: "/api/users/recover/{{ ctx.token }}",
        type: "PUT",
        data: {},
    },

    minCharacters: 3,
    artificialDelay: 700
};


$("#btn-reset-pw").on("click", function(e){
    //debugger;
    e.preventDefault();
    var $this = $(this);

    if($("#new-pw").val().length < Clima.minCharacters){
        alert("The passwords must have at least " + Clima.minCharacters + " characters. Please try again.");
        return;            
    }

    if($("#new-pw").val() != $("#new-pw-2").val()){
        alert("The passwords don't match. Please try again.");
        return;
    }

    Clima.ajaxOptions.data.pw = $("#new-pw").val();


{#  
    // function getPromise(){
    //     var deferred = Q.defer();

    //     setTimeout(function(){
    //         //deferred.resolve("ok");
    //         deferred.reject(new Error("xxx"));
    //     }, 1000);

    //     return deferred.promise;
    // }
#}

    Q.all([$.ajax(Clima.ajaxOptions), Q.delay(Clima.artificialDelay)])
    .done(
        function(resp){

            // change text with the the success message; the button will still be disabled
            $this.html("Finished!");
            $("#message-status").html("The password has been changed.");
            $("#message-links").html("Go to the <a href='/{{ lang }}'>homepage</a> or to the <a href='/{{ lang }}/login'>login page</a>.");
        }, 
        function(err){
            $this.removeClass("btn-primary").addClass("btn-danger").html("Error!");
            $("#message-status").html("Sorry! An error has ocurred. Please try again.");
            $("#message-links").html("Go to the <a href='/{{ lang }}'>homepage</a> or to the <a href='/{{ lang }}/login'>login page</a>.");
        }
    );

    $this.addClass("disabled").html("Please wait...");
});


</script>

{% endblock %} 
