<script src="/common/js/jquery-1.11.2.js"></script>
<script src="/common/js/bootstrap-3.3.2.js"></script>
<script src="/common/js/underscore-1.6.0.js"></script>
<script src="/common/js/q-1.1.2.js"></script>

<script type="text/javascript">

    window.Clima = window.Clima || {};
    //Clima.lang = "{{ lang }}";
    //Clima.texts  = {{ ctx.textsArray | stringify }};

	{#  simple polyfill for addEventListener (because it is not available in IE8)  #}
	Clima.addEvent = function(evnt, elem, func) {
	   if (elem.addEventListener)  // W3C DOM
	      elem.addEventListener(evnt,func,false);
	   else if (elem.attachEvent) { // IE DOM
	      elem.attachEvent("on"+evnt, func);
	   }
	   else { // No much to do
	      elem[evnt] = func;
	   }
	}

	{#  
		NOTE: we add click handlers for buttons in the navbar because we cant use <a class='btn'>. More details here:
		http://getbootstrap.com/css/#buttons
		"While button classes can be used on <a> and <button> elements, only <button> elements are supported
		 within our nav and navbar components."
	#}


	{#  button from the navbar - login  #}

	Clima.loginBtn = document.getElementById("js-login-nav");
	if(!!Clima.loginBtn){
		console.log("Clima.loginBtn");
		Clima.addEvent("click", Clima.loginBtn, function(){
			window.location.href = "/{{ lang }}/login";
		});
	}

	{#  button from the navbar - logout  #}

	Clima.logoutBtn = document.getElementById("js-logout-nav");
	if(!!Clima.logoutBtn){
		console.log("Clima.logoutBtn");
		Clima.addEvent("click", Clima.logoutBtn, function(){
			window.location.href = "/{{ lang }}/logout";
		});
	}

	{#  button from the navbar - dashboard  #}

	Clima.dashboardBtn = document.getElementById("js-dashboard-nav");
	if(!!Clima.dashboardBtn){
		console.log("Clima.dashboardBtn");
		Clima.addEvent("click", Clima.dashboardBtn, function(){
			window.location.href = "/{{ lang }}/dashboard";
		});
	}

	{# button from the navbar - lang #}

	Clima.langBtn = document.getElementById("js-lang-nav");
	if(!!Clima.langBtn){
		Clima.addEvent("click", Clima.langBtn, function(){
			var currentPath = window.location.pathname.split("/");
			var newPath = "/" + (currentPath[1] === "pt" ? "en" : "pt");

			for(var i=2, l=currentPath.length; i<l; i++){
				newPath = newPath + "/" + currentPath[i];

			}
			window.location.href = newPath;
		});
	}

	{# manually adjust the height of main column (but not in the dashboard page) #}

	{% if ctx.urlParam1 != "dashboard" %}

	Clima.mainContainerHeight = $("#main-container").outerHeight(true);
	Clima.mainContainerPaddingTop = parseInt($("#main-container").css("padding-top"), 10);
	Clima.mainContainerPaddingBottom = parseInt($("#main-container").css("padding-bottom"), 10);

	Clima.footerHeight = $(".footer").outerHeight(true);
	Clima.documentHeight = $(document).outerHeight(true);

	if(Clima.mainContainerHeight < Clima.documentHeight - Clima.footerHeight){
		$("#main-container").height((Clima.documentHeight - Clima.footerHeight - Clima.mainContainerPaddingTop - Clima.mainContainerPaddingBottom ) + "px");
	}

	{% endif %}


	{# activate the bootstrap tooltips (top bar, login and lanaguage buttons) #}
	if($(document).width() > 710){
		$('[data-toggle="tooltip"]').tooltip();
	}
	

</script>