{# NOTE: use max-height in the img tag to normalize the different heights #}

<div class="row" style="padding-top: 20px; margin-right: 0px; margin-left: 0px;">
	<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">

		<div class="row" style="">

			<div class="col-xs-3 col-sm-3" style="xborder: 1px solid red; ">
				<a href="http://drota.gov-madeira.pt/berilio/berwpag0.home" target="_blank" title="Direção Regional do Ordenamento do Território e Ambiente">
					<img src="{{ ctx.texts[63][lang] }}" class="img-responsive center-block" style="max-height:55px"></img>
				</a>
			</div>
			<div class="col-xs-3 col-sm-3" style="xborder: 1px solid red;">
				<a href="http://www.sim.ul.pt/cciam/"  target="_blank" title="Centre for Climate Change, Impacts, Adaptation and Modelling">
					<img src="{{ ctx.texts[64][lang] }}" class="img-responsive center-block" style="max-height:55px"></img>
				</a>
			</div>
			<div class="col-xs-3 col-sm-3" style="xborder: 1px solid red;">
				<a href="http://www.fc.ul.pt/" target="_blank" title="Faculdade de Ciências da Universidade de Lisboa">
					<img src="{{ ctx.texts[65][lang] }}" class="img-responsive center-block" style="max-height:55px"></img>
				</a>
			</div>

			<div class="col-xs-2 col-sm-2" style="xborder: 1px solid red; xmargin-left: 10px;">
				<a href="http://www.fc.ul.pt/pt/unidade/funda%C3%A7%C3%A3o-da-faculdade-de-ci%C3%AAncias" target="_blank" title="Fundação da Faculdade de Ciências da Universidade de Lisboa">
					<img src="{{ ctx.texts[66][lang] }}" class="img-responsive xcenter-block" style="max-height:55px" ></img>
				</a>
			</div>

		</div>


	</div>
</div>