{# 
This file is only included if the user is authenticated and can edit texts;
the code for the summernote editor requires underscore and q (besides $ and bootstrap, which are always loaded); 
we load those libraries only if they havent been loaded before
#}

{#

{% if not underscore_is_loaded  %}
<script src="/common/js/underscore-1.6.0.js"></script>
{% endif %}

{% if not q_is_loaded  %}
<script src="/common/js/q-1.1.2.js"></script>
{% endif %}

#}

<script type="text/javascript">
	Clima.lang = "{{ lang }}";
	Clima.texts  = {{ ctx.textsArray | stringify }};
</script>

<script src="/common/js/summernote-0.6.1.js"></script>
<script src="/editor/js/summernote-save.js"></script> 
